@model List<MOCProject.Models.Moc>
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h2>Mocs</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Definition</th>
                <th scope="col">Justification</th>
                <th scope="col">Benefit</th>
                <th scope="col">InitiationDate</th>
                <th scope="col">ClosingDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr>
                    <th scope="row">@item.Name</th>
                    <td>@item.Definition</td>
                    <td>@item.Justification</td>
                    <td>@item.Benefit</td>
                    <td>@item.InitiationDate</td>
                    <td>@item.ClosingDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>
