@model List<MOCProject.Models.Moc>
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz!</h1>
    <br />
    <h2>Değişiklikler Listesi</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Değişiklik Adı</th>
                <th scope="col">Tanımı</th>
                <th scope="col">Gerekçe</th>
                <th scope="col">Fayda</th>
                <th scope="col">Oluşturulma Tarihi</th>
                <th scope="col">Kapanma Tarihi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr>
                    <th scope="row">@item.Name</th>
                    <td>@item.Definition</td>
                    <td>@item.Justification</td>
                    <td>@item.Benefit</td>
                    <td>@item.InitiationDate</td>
                    <td>@item.ClosingDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>
