@model MOCProject.Models.Moc
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Değişiklik detayları</h1>

@if (Model.CreatorId == UserManager.GetUserId(new System.Security.Claims.ClaimsPrincipal (User.Identity)))
{
    <h2>
        <a class="btn-link text-info" asp-area="" asp-controller="Tasks" asp-action="CreateByMocId" asp-route-id=@Model.Id>Bu Değişiklik İçin Görev Oluştur</a>
    </h2>
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Değişikliğin Adı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Tanımı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Definition)
        </dd>
        <dt class="col-sm-2">
            Gerekçesi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Justification)
        </dd>
        <dt class="col-sm-2">
            Faydası
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Benefit)
        </dd>
        <dt class="col-sm-2">
            Kapanma Tarihi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Değişiklik Listesine Dön</a>
</div>
