@model MOCProject.Models.Moc
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Details</h1>

@if (Model.CreatorId == UserManager.GetUserId(new System.Security.Claims.ClaimsPrincipal (User.Identity)))
{
    <h2>
        <a class="btn-link text-info" asp-area="" asp-controller="Tasks" asp-action="CreateByMocId" asp-route-id=@Model.Id>Bu Moc'a Görev Gir</a>
    </h2>
}

<div>
    <h4>Moc</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Definition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Definition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Justification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Justification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Benefit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Benefit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
