@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<MOCProject.Models.Moc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Değişiklik Kontrolü</h1>

<p>
    <a href="/Mocs/Create"><h2>Yeni Oluştur</h2></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Değişiklik Adı
            </th>
            <th>
                Tanımı
            </th>
            <th>
                Gerekçe
            </th>
            <th>
                Fayda
            </th>
            <th>
                Oluşturulma Tarihi
            </th>
            <th>
                Kapanma Tarihi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Definition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Justification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Benefit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitiationDate)
                </td>
                <td class="ClosingDate">
                    @Html.DisplayFor(modelItem => item.ClosingDate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a>
                    @if (UserManager.GetUserId(new System.Security.Claims.ClaimsPrincipal(User.Identity)) == item.CreatorId && string.IsNullOrEmpty(item.ClosingDate.ToString()))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Kapat</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(".ClosingDate").each(function () {
        if ($(this).html().length > 38) { //sonra bu koşul iyi bir kodla düzeltilecek.
            console.log($(this).html().length);
            $(this).parent().css("background-color", "lightgreen");
        } else {
            console.log($(this).html().length);
            $(this).parent().css("background-color", "lightpink");
        }
    });
</script>