@model IEnumerable<MOCProject.Models.Moc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Değişiklik Kontrolü</h1>

<p>
    <a asp-action="Create"><h2>Yeni Oluştur</h2></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Definition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Justification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Benefit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitiationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Definition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Justification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Benefit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitiationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
