@model MOCProject.Models.Task

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Görev Detayları</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Görev Tanımı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Definition)
        </dd>
        <dt class="col-sm-2">
            Sorumlu Personel
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RelatedUser.UserName)
        </dd>
        <dt class="col-sm-2">
            İlgili Değişiklik
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moc.Definition)
        </dd>
        <dt class="col-sm-2">
            Termin
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duedate)
        </dd>
        <dt class="col-sm-2">
            Yorum
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class="col-sm-2">
            Kapanma Tarihi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingDate)
        </dd>
        <dt class="col-sm-2">
            Kapanma Notu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingNote)
        </dd>        
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Görevi Kapat</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
