@model IEnumerable<MOCProject.Models.Task>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Duedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Definition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelatedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Duedate)
                </td>
                <td class="ClosingDate">
                    @Html.DisplayFor(modelItem => item.ClosingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosingNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Definition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelatedUser.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Moc.Definition)
                </td>
                <td>
                    @if (string.IsNullOrEmpty(item.ClosingDate.ToString()))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Kapat</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Detay</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(".ClosingDate").each(function () {
        if ($(this).html().length > 38) {  //sonra bu koşul iyi bir kodla düzeltilecek.
            console.log($(this).html().length);
            $(this).parent().css("background-color", "lightgreen");
        } else {
            console.log($(this).html().length);
            $(this).parent().css("background-color", "lightpink");
        }
    });
</script>
